{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatServerApplication</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
<header>
    <h1>Chat Client Application</h1>
    <nav id="nav">
        <ul>
            <li><button id="logout" class="interface-btn horizontal">Logout</button></li>
            <li><button id="account_list" class="interface-btn horizontal"></button></li>
        </ul>
    </nav>
</header>
<main>
    <section id="login">
        <input type="text" class="input-login" id="login_input" placeholder="Login">
        <input type="password" class="input-login" id="pass_input" placeholder="Password">
        <button id="login_btn"></button>
        <button id="registr_btn" class="interface-btn horizontal">Registration</button>
        <button id="reset_pass_btn" class="interface-btn horizontal">Reset password</button>
        <div id="login_output"></div>
    </section>
    <section id="chats">
        <h2>Chats</h2>
        <aside class ="chats-btns">
            <button id="hide_all" class="control-btn hide" title="Your Chats"></button>
            <button id="show_all" class="control-btn" title="All Chats"></button>
            <button id="new_chat" class="control-btn" title="New Chat"></button>
        </aside>
        <div id="chats_output"></div>
    </section>
    <section id="members" class="main-right hide">
        <h2>Members</h2>
        <div id="members_output"></div>
    </section>
    <section id="messages" class="main-right">
        <h2>Messages</h2>
        <div id="messages_output"></div>
        <aside id="message_form" class="hide" method="post">
            <input type="text" id="message_input" placeholder="Your message">
            <button id="msg_btn" class="interface-btn">Send</button>
        </aside>
    </section>
</main>
<footer>
    <div id="output"></div>
</footer>
<script>
    const pathToLock = "{% static 'img/Lock.png' %}";
    const pathToUnlock = "{% static 'img/Unlock.png' %}";
    const pathToDefaultProfile = "{% static 'img/DefaultProfile.png' %}";
</script>
<script src="{% static 'js/chatclient.js' %}"></script>
</body>
</html>