{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatServerApplication</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
<header>
    <h1>Chat Client Application</h1>
    <nav id="nav">
        <ul>
            <li><a id="logout" href="#">Logout</a></li>
            <li><a id="account_list" href="#"></a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="login">
        <input type="text" class="inputLogin" id="login_input" placeholder="Login">
        <input type="password" class="inputLogin" id="pass_input" placeholder="Password">
        <button id="login_btn"></button>
        <button id="registr_btn" class="commonBtn">Registration</button>
        <button id="reset_pass_btn" class="commonBtn">Reset password</button>
        <div id="login_output"></div>
    </section>
    <section id="chats">
        <h2>Chats</h2>
        <aside>
            <image id="hide_all" class="chatButton hide" title="Your Chats" src="{% static 'img/YourChats.png' %}"></image>
            <image id="show_all" class="chatButton" title="All Chats" src="{% static 'img/AllChats.png' %}"></image>
            <image id="new_chat" class="chatButton" title="New Chat" src="{% static 'img/NewChat.png' %}"></image>
        </aside>
        <div id="chats_output"></div>
    </section>
    <section id="members" class="mainRight hide">
        <h2>Members</h2>
        <div id="members_output"></div>
    </section>
    <section id="messages" class="mainRight">
        <h2>Messages</h2>
        <div id="messages_output"></div>
        <aside id="message_form" method="post">
            <input type="text" id="message_input" placeholder="Your message">
            <button id="message_btn">Send</button>
        </aside>
    </section>
</main>
<footer>
    <div id="output"></div>
</footer>
<script>
    const pathToWriteMessage = "{% static 'img/WriteMessage.png' %}";
    const pathToLock = "{% static 'img/Lock.png' %}";
    const pathToUnlock = "{% static 'img/Unlock.png' %}";
</script>
<script src="{% static 'js/chatclient.js' %}"></script>
</body>
</html>